                html,
                body,
                main {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0em;
                    text-decoration: none;
                    text-align: left;
                    max-width: 1024px;
                }
                
                header {
                    display: flex;
                    background: #222222;
                    height: 20px;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-family: Roboto;
                    color: white;
                    font-size: 10px;
                    line-height: 12px;
                }
                
                .box0 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #F0A83E;
                    width: auto;
                    min-height: 62px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                
                .nav-menu {
                    color: white;
                    font-size: 13px;
                    line-height: 15px;
                }
                
                .nav-menu>a {
                    margin: 0 24px;
                }
                
                .burguer-menu {
                    display: none;
                }
                
                .box1 {
                    width: 100%;
                    display: flex;
                    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
                    min-height: 400px;
                    justify-content: flex-end;
                }
                
                .listBox1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-right: 4%;
                    padding-top: 8%;
                }
                
                .contenedorFlex {
                    display: flex;
                    flex-direction: column;
                }
                
                .box1tittle {
                    display: flex;
                    height: 54px;
                    width: 365px;
                    border-radius: 5px;
                    background-color: white;
                    font-size: 30px;
                    line-height: 35px;
                    color: black;
                    align-items: center;
                    justify-content: center;
                }
                
                .box1text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 50px;
                    width: 200px;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18.75px;
                    color: black;
                }
                
                .box1boton {
                    display: flex;
                    height: 49px;
                    width: 141px;
                    border-radius: 5px;
                    background: #F0A83E;
                    color: white;
                    font-size: 16px;
                    line-height: 18.75px;
                    line-height: 19px;
                    align-items: center;
                    justify-content: center;
                }
                
                .box2 {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                }
                
                .tittleBox2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                }
                
                h1 {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 47px;
                    white-space: pre-line;
                }
                
                .imgPata {
                    display: flex;
                    flex-wrap: wrap;
                    width: 70px;
                    height: 60px;
                    justify-content: center;
                    align-items: flex-start;
                    background: white;
                }
                
                .box2medio {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
                
                .DescImg {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 160.54px;
                    height: 19.64px;
                    justify-content: center;
                    align-items: flex-start;
                    background: white;
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 18px;
                }
                
                .Desc2img {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 39.15px;
                    height: 19.64px;
                    justify-content: center;
                    align-items: flex-start;
                    background: white;
                    color: #F0A83E;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 18px;
                }
                
                .tarjetas {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 265px;
                    height: 312px;
                    justify-content: center;
                    align-items: center;
                    background: #FBFAF6;
                    margin: 24px;
                }
                
                .box2footer {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                
                .box2list {
                    padding: 0;
                }
                
                .contacto {
                    display: flex;
                    flex-wrap: wrap;
                    height: 40px;
                    width: 340px;
                    border-radius: 15px;
                    background: #3C2313;
                    border: solid 5px white;
                    font-size: 9px;
                    line-height: 11px;
                    text-align: left;
                    color: white;
                    align-items: center;
                    justify-content: left;
                    padding-left: 10px;
                }
                
                .box2boton {
                    display: flex;
                    flex-wrap: nowrap;
                    height: 24px;
                    width: 230px;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .boton2 {
                    display: flex;
                    flex-wrap: wrap;
                    height: 24px;
                    width: 110px;
                    border-radius: 15px;
                    background: #F0A83E;
                    color: white;
                    font-size: 16px;
                    line-height: 18.75px;
                    line-height: 16px;
                    align-items: center;
                    justify-content: center;
                }
                
                .boton1 {
                    display: flex;
                    flex-wrap: wrap;
                    height: 24px;
                    width: 110px;
                    border-radius: 15px;
                    background: #8A8787;
                    color: white;
                    font-size: 16px;
                    font-style: normal;
                    line-height: 18.75px;
                    line-height: 16px;
                    align-items: center;
                    justify-content: center;
                }
                
                .box3 {
                    width: 100%;
                    display: flex;
                    background: #F0A83E;
                    justify-content: space-between;
                    align-items: center;
                    padding: 30px;
                    box-sizing: border-box;
                    flex-wrap: wrap;
                }
                
                .box3r {
                    display: flex;
                    flex-wrap: nowrap;
                }
                
                .box3l {
                    display: flex;
                    justify-content: flex;
                    flex-wrap: nowrap;
                }
                
                .box3text1 {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: left;
                    background: #F0A83E;
                    margin-bottom: 15px;
                    align-content: center;
                    justify-content: left;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 23px;
                    color: white;
                }
                
                .imgcorreo1 {
                    width: 40px;
                    margin-right: 12px;
                    margin-bottom: 15px;
                }
                
                .box3tesxt2 {
                    display: flex;
                    width: 271px;
                    flex-wrap: nowrap;
                    border-radius: 15px;
                    background: white;
                    color: #A0A0A0;
                    font-size: 9px;
                    font-style: normal;
                    align-items: center;
                    justify-content: left;
                }
                
                .box3boton {
                    display: flex;
                    flex-wrap: nowrap;
                    height: 34px;
                    width: 70px;
                    border-radius: 15px;
                    background: #3C2313;
                    color: white;
                    font-size: 9px;
                    line-height: 11px;
                    align-items: center;
                    justify-content: left;
                    padding-left: 10px;
                }
                
                .footer {
                    display: flex;
                    box-sizing: border-box;
                    max-width: 100%;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    background: #3C2313;
                    padding-left: 50px;
                    padding-right: 70px;
                }
                
                .footerlogo {
                    display: flex;
                    height: 18px;
                    align-items: center;
                    background: #3C2313;
                    margin-top: 12px;
                }
                
                .listBotomImg {
                    justify-content: space-between;
                }
                
                .listBotom {
                    display: flex;
                    flex-direction: column;
                    width: 259px;
                    height: 284px;
                    justify-content: space-around;
                }
                
                .footerList {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: left;
                    background: #3C2313;
                }
                
                .imgFooterList {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    background: #3C2313;
                    padding-top: top 20px;
                    padding-bottom: 2px;
                }
                
                .circulo {
                    display: flex;
                    box-sizing: border-box;
                    width: 66px;
                    height: 66px;
                    align-items: center;
                    justify-content: center;
                    background: #8A8787;
                    border-radius: 66px;
                    border: 5px solid #786960;
                    padding-top: 10px;
                    z-index: 1;
                }
                
                .footerLetra1 {
                    display: flex;
                    flex-wrap: wrap;
                    border-radius: 15px;
                    background: #3C2313;
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 23px;
                    align-items: center;
                    justify-content: left;
                    margin-left: 12px;
                }
                
                .footerLetra2 {
                    display: flex;
                    flex-wrap: wrap;
                    border-radius: 15px;
                    background: #3C2313;
                    color: #8A8787;
                    font-size: 10px;
                    font-weight: 700;
                    line-height: 12px;
                    letter-spacing: 0em;
                    align-items: center;
                    justify-content: left;
                    margin-left: 16px;
                }
                
                .foot {
                    display: flex;
                    flex-direction: row;
                    height: 248px;
                    width: 1024px;
                    max-width: 100%;
                    max-height: 150%;
                    justify-content: center;
                    align-items: center;
                    background: #222222;
                    width: 1024;
                    height: 20px;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 12px;
                    color: white;
                }
                
                @media (max-width:800px) {
                    .footer {
                        flex-wrap: wrap-reverse;
                        justify-content: center;
                    }
                    .nav-menu {
                        display: none;
                    }
                    .burguer-menu {
                        display: block;
                    }
                }